body{
    background-color: pink;
}

h1{
    color: blue;
    font-size: 16px;
}

hr{
    color: blueviolet;
    height: 10px;
    background-color: orange;
}

a:link{
    color: deepskyblue;
}

a:visited{
    color: gray;
}

p, ul{
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',  */
    /* 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: "Big Shoulders Inline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#size{
    position: absolute; top: 250px; left: 800px;
    background-color: silver;
    padding: 25px;
    border-style: groove;
    border-width: 5px;
    border-color: blue;
}

#main{
    background-color: aliceblue;
    height: 850px;
    width: 1200px;
    /* background-image: url(graphics/space.png); */
}
